head
  meta(http-equiv="content-type", content="text/html; charset=UTF8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  base(href="/")
  link(rel="stylesheet", type="text/css", href="/app.css")
  link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  script(src="/app.js")
  //link(href='http://fonts.googleapis.com/css?family=PT Sans:400,300,700' rel='stylesheet' type='text/css')
